body {
  margin: 0;
}
main {
  display: flex;
  font-family: "Open Sans", Arial, sans-serif;
  margin-bottom:120px;
}
.nav {
  position: fixed;
  width:300px;
  height:100%;
  border-right: 2px solid #4D4E53;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.js {
  font-weight: 400;
  font-size:29px;
  margin: 20px 0;
}
.navigate {
  text-decoration:none;
  color: #4d4e53;
  margin-left:30px;
}
.block {
  border-top: 1px solid #4D4E53;
  width: 100%;
  padding: 10px 0 10px 0;
}
.inf {
  margin-left:300px;
  padding-left: 25px;
  width: 100%;
  height: 100%;
  padding-right: 20px;
}
article {
  margin: 15px;
  color: #4d4e53;
}
p {
  margin: 15px 0;
}
ul {
  margin: 15px 0;
  padding-left: 45px;
}
li {
  margin-top: 15px;
}
code {
  display: block;
  background-color: #f7f7f7;
  padding:15px;
  margin: 10px;
  line-height: 2;
  border-radius: 5px;
}
.scr {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}