@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

html,
body {
    background-color: #a9d7d1;
    text-align: center;
    min-width: 320px;
    font-family: 'Raleway', Helvetica, sans-serif;
    display: block;
    margin: 8px;
}

main {
    background-color: white;
    align: center;
    margin: auto;
    height: 900px;
    width:925px;
    font-size: 16px;
    font-weight: 50px;
    font: 'Raleway';
}

#box-container {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}
.cont-1 {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.cont-2 {
    margin-top: 50px;
    display: flex;
    padding-left: 50px;
}


.cont-3 {
    margin-top: 50px;
    display: flex;
    padding-left:50px;
}

.cont-4 {
    margin-top: 50px;
    display: flex;

}
.box-1 {
    padding-right: 10px;
    float: left;
}

.box-2 {
    padding-left: 10px;
    float: right;
}

.box-3 {
    padding-right: 40px;
}

.box-4 {
    float: right;
}

.box-5 {
    width: 350px;
}

.box-6 {
    width: 300px;
    text-align:left;
    margin-left:10px;
}

.box-7 {
    margin-left:165px;
    margin-right:40px;

}

.box-8 {
    margin-left:110px;
}

.box-9 {
    margin-left: 20px;
} 


.custom-select {
    position: relative;
    font-family: Arial;
}

.custom-select select {
    display: block;
}
select{
    padding: 5px;
}
.select-selected {
    background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}
.select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}
.select-hide {
    display: none;
}

button{
    margin-top: 17px;
    margin-left:380px;
    width:100px;
    height: 50px;
    padding-left: 10px;
    color: #fff;
    border-radius: 5px;
    border: none ;
    background-color: #59ACE0;
}
